body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link {
  transition: 0.2s;
}

.nav-link:hover {
  color: #0d6efd; /* biru bootstrap */
  transform: translateY(-2px);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/*  */
.service-card {
  transition: all 0.3s ease;
}

.service-card:hover {
  background: linear-gradient(135deg, #007bff 0%, #00c6ff 100%);
  color: white;
  transform: translateY(-5px);
}

.service-card:hover h5,
.service-card:hover p {
  color: white;
}

.discover-btn {
  background-color: white;
  color: #007bff;
  border: 2px solid #007bff;
  transition: all 0.3s ease;
}

.service-card:hover .discover-btn {
  background-color: #ffffff;
  color: #007bff;
  border-color: white;
}
